<!--Author : Darosh Irani
// Student ID : 822955068
// Filename : contact.ejs
// Dated : October 2nd, 2022 -->

<!-- Template source - https://getbootstrap.com/ -->

<div class = "container-fluid" align = "center">
    <h1><%= title %></h1>
    
    <div class = "container-sm">
    <form class="row g-3 needs-validation" id = "contactForm"  method = "POST" >
      <input type="hidden" name="id" value="<%= contact._id %>" >  
      <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input type="text" 
          name = "fName" 
          class="form-control" 
          id="validationCustom01" 
          value="<%= contact.fName %>" >
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input type="text" 
          name = "lName" 
          class="form-control" 
          id="validationCustom02" 
          value="<%= contact.lName %>" >
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Email Address</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Email</span>
            <input type="text" 
            name = "contactEmail" 
            class="form-control" 
            id="validationCustomUsername" 
            aria-describedby="inputGroupPrepend" 
            value = "<%= contact.contactEmail %>" >
            <div class="invalid-feedback">
              Please enter an Email.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">City</label>
          <input type="text" 
          name = "city" 
          class="form-control" 
          id="validationCustom03" >
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">Province</label>
          <select class="form-select" name = "province" id="validationCustom04" >
            <option selected disabled value="">Choose...</option>
            <option>ON</option>
            <option>BC</option>
            <option>AB</option>
            <option>SK</option>
            <option>QB</option>
            <option>NF</option>
            <option>PEI</option>
            <option>NWT</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid Province.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom05" class="form-label">Telephone Number</label>
          <input type="number" 
          name = "contactNumber" 
          class="form-control" 
          id="validationCustom05" 
          value = "<%= contact.contactNumber %>" >
          <div class="invalid-feedback">
            Please provide a valid contact number.
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" >
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit</button> <!-- formaction attribute redirects the form submission to a specific url and choice of method for submission is through a 'get' since the router is setup as 'indexRouter.get'--> 
          <button class="btn btn-primary" type="reset"  >Reset</button>
          <a href="/contact-list" class="btn btn-warning">
            <i class="fas fa-undo"></i> Cancel</a> 
        </div>
      </form>
    </div>
</div>